### Introduction
There are different types of possible splicing sites including (1) 5’ and 3’ splicing cites. These are signals marking the beginning and end of introns. Mutation in these regions can disrupt the splicing process. 
(2) Branch points. (3). Splicing regulatory elements, i.e. exonic/intronic splicing enhancers/silencers. Enhancers are sequences that promote splicing and are often found in exons and introns. Silencers are sequences that inhibit splicing. 

Single nucleotide variants (SNVs) are the most commonly observed genetic variants in the human genome. These SNVs represent a substantial portion of genetic variation and have the potential to influence splicing. 

We collect these variants from the following sources (1) HGMD
which contains more than 13 000 mutations with consequences for mRNA splicing. (2) SpliceDisease database, which collects and curates experimentally supported data of RNA splicing mutations and disease. (3) Database for Aberrant Splice Sites (DBASS), which contains 577 and 307 records of mutation-induced and disease-causing aberrant 5’ and 3’ splice sites.(4) Somatic Mutations in Cancer (COSMIC) database. The data can be downloaded from websites
https://hgdownload.soe.ucsc.edu/downloads.
https://cancer.sanger.ac.uk/cosmic/download.

For this presentation we take the existing composite data from the source data of paper.
https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4267638/

In [35]:
# here we download the existing composite data from the source data of paper 

import pandas as pd

composite = pd.read_excel("paper\\Supplementary_Table_S1-S6-In silico prediction of splice-altering single nucleotide variants in the human genome.xlsx", sheet_name="Table S2", header=1)

composite.head(10)

,Source,Chr,Position,Ref,Alt,Group,Type,Strand,Splice site,Distance,...,GENSCAN_ref,GENSCAN_alt,NetGene2_ref,NetGene2_alt,SplicePredictor_ref,SplicePredictor_alt,phyloP46way_placental,phyloP46way_primate,CADD_raw,CADD_phred
0,1000G,1,889159,A,C,Negative,Intronic,-,5',3,...,0.000,0.000,0.0,0.0,0.000,0.000,-0.31,-0.37,0.52,6.80
1,1000G,1,982941,T,C,Negative,Intronic,+,3',-12,...,0.970,0.966,0.0,0.0,0.900,0.859,-0.30,-1.53,-1.29,0.04
2,1000G,1,1891477,A,G,Negative,Intronic,-,3',-8,...,0.000,0.000,0.0,0.0,0.000,0.000,-0.46,0.45,1.11,9.52
3,1000G,1,2528133,T,C,Negative,Intronic,-,3',-5,...,0.000,0.000,0.0,0.0,0.000,0.000,-2.62,-4.05,-1.02,0.23
4,1000G,1,2541269,A,G,Negative,Exonic,-,3',2,...,0.000,0.000,0.0,0.0,0.000,0.000,-0.96,-0.23,1.31,10.28
5,1000G,1,3395174,C,A,Negative,Exonic,+,5',-3,...,0.902,0.892,1.0,1.0,0.996,0.996,-2.38,-2.07,-1.76,0.01
6,1000G,1,3761465,T,A,Negative,Intronic,-,5',6,...,0.000,0.000,0.0,0.0,0.000,0.000,-0.38,-0.31,0.55,7.00
7,1000G,1,3806643,T,A,Negative,Intronic,-,3',-6,...,0.000,0.000,0.0,0.0,0.000,0.000,-0.69,-0.36,-0.16,3.20
8,1000G,1,6204222,C,G,Negative,Intronic,-,3',-7,...,0.000,0.000,0.0,0.0,0.000,0.000,2.39,0.46,1.15,9.70
9,1000G,1,7737651,G,A,Negative,Intronic,+,3',-8,...,0.000,0.000,0.0,0.0,0.996,0.996,-0.30,-0.26,1.05,9.30

In [36]:
# this is COSMIC data only

cosmic = pd.read_excel("paper\\Supplementary_Table_S1-S6-In silico prediction of splice-altering single nucleotide variants in the human genome.xlsx", sheet_name="Table S6", header=1)

cosmic.head(10)

,Chr,Position,Ref,Alt,No. of times observed,Functional region,Gene,ada_score,rf_score
0,1,2489782,G,T,1,nonsynonymous,TNFRSF14,0.999894,0.994
1,1,2491418,G,A,1,splicing,TNFRSF14,0.999994,0.760
2,1,3313158,G,A,1,splicing,PRDM16,0.999967,0.898
3,1,3319354,G,T,1,splicing,PRDM16,0.999972,0.926
4,1,3334391,G,T,1,splicing,PRDM16,0.999939,0.956
5,1,3334561,G,A,1,nonsynonymous,PRDM16,0.999060,0.952
6,1,3342312,C,T,1,nonsynonymous,PRDM16,0.993861,0.864
7,1,6246877,C,A,1,splicing,RPL22,0.999988,0.926
8,1,7527961,G,T,1,nonsynonymous,CAMTA1,0.999951,0.996
9,1,7723412,G,T,1,splicing,CAMTA1,0.999952,0.958

In [37]:
cosmic_gene = cosmic[cosmic['Gene'] == 'BRCA1']

cosmic_gene

,Chr,Position,Ref,Alt,No. of times observed,Functional region,Gene,ada_score,rf_score
1646,17,41201212,C,A,1,splicing,BRCA1,0.999950,0.950
1647,17,41203135,C,A,2,splicing,BRCA1,0.999989,0.934
1648,17,41209068,C,A,1,splicing,BRCA1,0.999987,0.930
1649,17,41209068,C,T,1,splicing,BRCA1,0.999987,0.930
1650,17,41215391,C,T,1,splicing,BRCA1,0.999990,0.928
1651,17,41223256,C,T,1,splicing,BRCA1,0.999978,0.758
1652,17,41256137,A,C,6,splicing,BRCA1,0.999987,0.944
1653,17,41256137,A,T,3,splicing,BRCA1,0.999987,0.946
1654,17,41267742,C,A,1,splicing,BRCA1,0.999990,0.938
1655,17,41276033,C,T,1,splicing,BRCA1,0.999978,0.944

### Merge with gnomAD population variants dataset

In [38]:
import csv

filename = 'gnomAD_v2.1.1_ENSG00000012048_2023_10_12_16_02_58.csv'

# Read the CSV file into a DataFrame
gnom = pd.read_csv(filename)

# Display the first few rows of the DataFrame
print(gnom[['Chromosome', 'Position', 'rsIDs', 'Transcript']].head(20))

    Chromosome  Position         rsIDs         Transcript
0           17  41197628   rs754327493  ENST00000309486.4
1           17  41197632   rs539044217  ENST00000309486.4
2           17  41197635   rs778988967  ENST00000309486.4
3           17  41197637   rs137892861  ENST00000309486.4
4           17  41197637   rs137892861  ENST00000309486.4
5           17  41197652   rs758539310  ENST00000471181.2
6           17  41197656   rs777938968  ENST00000471181.2
7           17  41197659     rs3092995  ENST00000471181.2
8           17  41197659     rs3092995  ENST00000471181.2
9           17  41197664   rs776323505  ENST00000471181.2
10          17  41197669   rs745752144  ENST00000471181.2
11          17  41197672  rs1305255318  ENST00000471181.2
12          17  41197673  rs1346384762  ENST00000471181.2
13          17  41197674  rs1232678023  ENST00000471181.2
14          17  41197675   rs375042815  ENST00000471181.2
15          17  41197682   rs762552027  ENST00000471181.2
16          17  41197698  rs1224760267  ENST00000471181.2
17          17  41197700   rs763740623  ENST00000471181.2
18          17  41197701   rs774127304  ENST00000471181.2
19          17  41197702    rs80357183  ENST00000471181.2

In [39]:
merged_df = pd.merge(cosmic, gnom, on='Position', how='inner')

merged_df

,Chr,Position,Ref,Alt,No. of times observed,Functional region,Gene,ada_score,rf_score,Chromosome,...,Homozygote Count European (non-Finnish),Hemizygote Count European (non-Finnish),Allele Count Other,Allele Number Other,Homozygote Count Other,Hemizygote Count Other,Allele Count South Asian,Allele Number South Asian,Homozygote Count South Asian,Hemizygote Count South Asian
0,17,41203135,C,A,2,splicing,BRCA1,0.999989,0.934,17,...,0,0,0,6126,0,0,0,30602,0,0

### One challenge at this point:

The first is one can see that there in only one entry after merging. Note that the Position/location between 
two dataset need not to be exactly the same. So we need turn the position from one dataset into a range, and use the range to cover more rows. For this we use Ensembl API to get the range of the variant position.

### Solution: using Ensembl API to get ranges for each variant location

In [40]:
gene = 'PCSK9'

gene = 'ARID1A'

gene = 'BRCA1'

#homo_sapiens

api_url = f"https://rest.ensembl.org/lookup/symbol/human/{gene}?expand=1"

# Send a GET request to the Ensembl API.
response = requests.get(api_url, headers={"Content-Type": "application/json"})

# Check for a successful response.
if response.status_code == 200:
    gene_info = response.json()
    print("Gene Symbol:", gene_info["display_name"])
    print("Gene Description:", gene_info["description"])
else:
    print("Failed to retrieve gene information.")

Gene Symbol: BRCA1
Gene Description: BRCA1 DNA repair associated [Source:HGNC Symbol;Acc:HGNC:1100]

In [41]:
ensembl = pd.DataFrame(gene_info['Transcript'])

ensembl.head()

,object_type,source,strand,seq_region_name,db_type,Parent,is_canonical,start,Translation,display_name,biotype,logic_name,end,id,species,version,Exon,assembly_name
0,Transcript,havana,-1,17,core,ENSG00000012048,0,43044295,"{'length': 1567, 'object_type': 'Translation',...",BRCA1-222,protein_coding,havana_homo_sapiens,43125300,ENST00000497488,human,2,"[{'id': 'ENSE00001867485', 'strand': -1, 'seq_...",GRCh38
1,Transcript,havana,-1,17,core,ENSG00000012048,0,43044295,"{'object_type': 'Translation', 'length': 1837,...",BRCA1-216,protein_coding,havana_homo_sapiens,43125321,ENST00000489037,human,2,"[{'object_type': 'Exon', 'end': 43125321, 'str...",GRCh38
2,Transcript,havana,-1,17,core,ENSG00000012048,0,43044295,"{'version': 2, 'start': 43045678, 'end': 43124...",BRCA1-214,protein_coding,havana_homo_sapiens,43125359,ENST00000478531,human,6,"[{'start': 43125277, 'version': 1, 'assembly_n...",GRCh38
3,Transcript,ensembl_havana,-1,17,core,ENSG00000012048,1,43044295,"{'start': 43045678, 'version': 3, 'end': 43124...",BRCA1-203,protein_coding,ensembl_havana_transcript_homo_sapiens,43125364,ENST00000357654,human,9,"[{'object_type': 'Exon', 'species': 'human', '...",GRCh38
4,Transcript,havana,-1,17,core,ENSG00000012048,0,43044295,"{'start': 43045678, 'version': 2, 'end': 43124...",BRCA1-211,protein_coding,havana_homo_sapiens,43125364,ENST00000473961,human,6,"[{'end': 43125364, 'strand': -1, 'id': 'ENSE00...",GRCh38

In [63]:
from pyliftover import LiftOver

lo = LiftOver('Hg38Tohg19.over.chain.gz')

# List to store merged rows
merged_rows = []

# Loop through each row in df1 and df2
for index1, row1 in cosmic_gene.iterrows():
    
    min_start, max_end = row1['Position'], row1['Position']
    
    for index2, row2 in ensembl.iterrows():
        
        #print(row2['start'], row2['end'])
        
        start = row2['start']
        end = row2['end']
        chrom = 'chr' + str(row1['Chr'])

        converted = lo.convert_coordinate(chrom, start)
        if converted:
            new_chrom, new_start, _, _ = converted[0]
        else:
            continue
            
        converted = lo.convert_coordinate(chrom, end)
        if converted:
            new_chrom, new_end, _, _ = converted[0]
        else:
            continue
            
        min_start = min(min_start, new_start)
        
        max_end = max(max_end, new_end)
        
    if min_start <= row1['Position'] <= max_end:
        # Combine the rows
        combined_row = row1.to_dict()
        combined_row.update({'start': new_start,  'end': new_end})
        merged_rows.append(combined_row)

# Convert merged rows to DataFrame
cosmic_gene_ensembl = pd.DataFrame(merged_rows)

# remove duplicated ranges
cosmic_gene_ensembl = cosmic_gene_ensembl.drop_duplicates(subset=['start', 'end'], keep='last')

cosmic_gene_ensembl

,Chr,Position,Ref,Alt,No. of times observed,Functional region,Gene,ada_score,rf_score,start,end
9,17,41276033,C,T,1,splicing,BRCA1,0.999978,0.944,41274360,41277387

### Mapping ranges to gnomAD variants data for each gene

In [64]:
# List to store merged rows
merged_rows = []

# Loop through each row in df1 and df2
for index1, row1 in cosmic_gene_ensembl.iterrows():
    for index2, row2 in gnom.iterrows():
        if row1['start'] <= row2['Position'] <= row1['end']:
            # Combine the rows
            combined_row = row1.to_dict()
            combined_row.update(row2.to_dict())
            merged_rows.append(combined_row)

# Convert merged rows to DataFrame
merged_df = pd.DataFrame(merged_rows)

if len(merged_df) > 0:
    
    merged_df[['Position', 'start', 'end']]

    print(merged_df[['Chromosome', 'Position', 'rsIDs']])

    Chromosome  Position         rsIDs
0           17  41275983   rs180905862
1           17  41275986   rs200513210
2           17  41275996   rs768583394
3           17  41276007  rs1213255171
4           17  41276011  rs1447426729
..         ...       ...           ...
91          17  41277260   rs904265019
92          17  41277261  rs1172227698
93          17  41277262   rs746485760
94          17  41277275   rs770368390
95          17  41277277   rs273898672

[96 rows x 3 columns]